/* 
.moreinfo {
  width: 100%;

  background-color: #f5f5f7;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreinfo p {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.moreinfo p a {
  text-decoration: none;
  color: #5171e3;
}
.moreinfo p a:hover {
  border-bottom: 1px solid #5171e3;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
  padding-bottom: 8px;
}
.content .iphone12desc {
  margin-top: 43px;
  margin-bottom: 13px;
}
.content .iphone12desc img {
  width: 255px;
}

.iphone12-links a {
  font-family: "Fira Sans", sans-serif;
  font-size: 21px;
  text-decoration: none;
  color: rgb(81 114 232);
  margin-right: 10px;
  margin-left: 12px;
}

.iphone12-links a:hover {
  border-bottom: 1px solid #5171e3;
}

.content .iphone12img {
  margin-top: 22px;
}

.content .iphone12img img {
  width: 764px;
}

.content2 {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.content2 .prodesc {
  margin-top: 33px;
  margin-bottom: 13px;
}

.content2 .prodesc img {
  width: 370px;
}

.content2 .proimg {
  margin-top: 22px;
  position: relative;
  left: 37px;
}

.content2 .proimg img {
  width: 800px;
}

.bag-items {
  display: none;
  filter: blur(0px);
  z-index: 10;
}

.bag-items {
  width: 200px;
  position: fixed;
  top: 50px;
  right: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  transition: 0.5s;
  border-radius: 10px;
  border: 1px solid #d2d2d7;
  display: none;
  filter: blur(0px);
  z-index: 10;
}

.bag-items ul {
  list-style-type: none;
}

.bag-items ul li a {
  text-decoration: none;
  color: #6666d1;
}

.bag-items ul li {
  box-sizing: border-box;
  padding: 11px;
  padding-left: 28px;
  width: calc(100% - 20px);
  display: block;
  border-top: 1px solid #d2d2d7;
  margin: 0px 10px;
}

.bag-items p {
  text-align: center;
  padding: 25px 0px;
  width: 100%;
}

#footer{
    padding:20px 0 20px 0;
    text-align: center;
    background-color:#D3D3D3;
}

hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color:lightgray;

  } 


  /////// */

  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: 'Times New Roman', Times, serif;
  }
  nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    height: 45px;
    top: 0px;

    background-color: rgb(49 48 48);
    position: sticky;
  }

  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 9px;
  }

  nav .searching {
    position: relative;
    left: 2.5%;
    width: 32px;
    top: 1px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 3px;
  }
  nav .bag {
    position: relative;
    left: 4.5%;
    width: 33px;
    top: 0px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 3px;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    list-style: none;
    margin-right: 0px;
    margin-left: 40px;
    font-size: 14px;
  }
  nav ul li a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(197 197 197);
    text-transform: uppercase;
    transition: 0.4s;
    padding: 7px, 13px;
    border-radius: 3px;
  }
  a.active,a:hover{
   color:white;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display:none;

  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.i{
      color:white;
    }
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 1130px){
    .checkbtn{
      display: block;
      color:white;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

  .moreinfo {
    width: 100%;
  
    background-color: #f5f5f7;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .moreinfo p {
    font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue",
      "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
  }
  .moreinfo p a {
    text-decoration: none;
    color: #5171e3;
  }
  .moreinfo p a:hover {
    border-bottom: 1px solid #5171e3;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfd;
    padding-bottom: 8px;
  }
  .content .iphone12desc {
    margin-top: 43px;
    margin-bottom: 13px;
  }
  .content .iphone12desc img {
    max-width: 100%;
  }

  .content .iphone12img img{
    max-width: 100%;
  }

  .content2 .proimg img{
    max-width: 100%;
  }
  
  .iphone12-links a {
    font-family: "Fira Sans", sans-serif;
    font-size: 21px;
    text-decoration: none;
    color: rgb(81 114 232);
    margin-right: 10px;
    margin-left: 12px;
  }
  
  .iphone12-links a:hover {
    border-bottom: 1px solid #5171e3;
  }
  
  .content .iphone12img {
    margin-top: 22px;
  }
  
  .content .iphone12img img {
    width: 750px;
  }
  
  .content2 {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  
  .bag-items {
    display: none;
    filter: blur(0px);
    z-index: 10;
  }
  
  .bag-items {
    width: 200px;
    position: fixed;
    top: 50px;
    right: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transition: 0.5s;
    border-radius: 10px;
    border: 1px solid #d2d2d7;
    display: none;
    filter: blur(0px);
    z-index: 10;
  }
  
  .bag-items ul {
    list-style-type: none;
  }
  
  .bag-items ul li a {
    text-decoration: none;
    color: #6666d1;
  }
  
  .bag-items ul li {
    box-sizing: border-box;
    padding: 11px;
    padding-left: 28px;
    width: calc(100% - 20px);
    display: block;
    border-top: 1px solid #d2d2d7;
    margin: 0px 10px;
  }
  
  .bag-items p {
    text-align: center;
    padding: 25px 0px;
    width: 100%;
  }
  
  #footer{
      padding:20px 0 20px 0;
      text-align: center;
      background-color:#D3D3D3;
  }
  
  hr {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      background-color:lightgray;
  
    } 
   